  /*Estructura básica y reinicio de estilos*/
  * {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    background-size: cover;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.219); /* Ajusta el nivel de transparencia aquí */
    z-index: -1;
}

body.lock-scroll {
    overflow: hidden;
}

nav {
    background: #252626;  /* color de menu */
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: top 0.3s;
}
.container {
    margin-top: 80px; /* Ajusta este valor según la altura del navbar(menu) */
}

.enlace {
    position: absolute;
    padding: 20px 50px;
}

.logo {
    height: 40px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    border-bottom: none; /* Quitar subrayado */
    transition: color 0.3s; /* Transición para el cambio de color */
}

li a.active, li a:hover {
    background: #747495;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

.checkbtn.active {
    color: #000090; /* Color más claro para resaltar el botón activo */
}

#check {
    display: none;
}

nav ul li a:hover,
nav ul li a.active {
  color: #00f; /* Color más claro para el texto al hacer hover o estar activo */
}

@media (max-width: 952px) {
    .enlace {
        padding-left: 20px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 999; /* Asegura que el menú esté sobre el contenido */
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    li a:hover, li a.active {
        background: none;
        color: red;
    }
    #check:checked ~ ul {
        left: 0;
    }
}

footer {
    background:   #252626; /* color */
    padding: 10px 0;
    text-align: center;
    position: relative; /* Cambiado a relativo para que no esté fijo */
    width: 100%;
    margin-top: 20px; /* Espacio entre el contenido y el footer */
}

footer p {
    color: #fff;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacio entre los enlaces */
}

.social-icons a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-size: 16px; /* Ajusta el tamaño de la fuente si es necesario */
}

.social-icons i {
    font-size: 24px; /* Ajusta el tamaño del ícono si es necesario */
    margin-right: 8px; /* Espacio entre el ícono y el texto */
}

.social-icons a:hover i {
    color: #000090;
}

.footer-title {
    vertical-align: middle;
}


/* Additional styles for login modal */
.modal-body {
    text-align: center;
}
.modal-body img {
    width: 100px;
    height: 100px;
    opacity: 0.7;
    margin-bottom: 20px;
}
.modal-body .form-group {
    position: relative;
    margin-bottom: 20px;
}
.modal-body .form-group input {
    padding-left: 45px;
    border-radius: 5px; /* Bordes ligeramente redondeados */
    border: 1px solid #ced4da;
    height: 30px; /* Ajusta la altura del input */
}
.modal-body .form-group .icon-container {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 45px;
    background: #f0f0f0;
    border-top-left-radius: 5px; /* Bordes ligeramente redondeados */
    border-bottom-left-radius: 5px; /* Bordes ligeramente redondeados */
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-body .form-group .icon-container img {
    width: 20px;
    height: 20px;
}
.modal-body .form-group .username-icon,
.modal-body .form-group .password-icon {
    font-size: 20px;
    color: #6c757d;
}
.modal-body .form-group .password-toggle {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #6c757d;
    font-size: 20px;
}
::placeholder {
    color: #6c757d;
    opacity: 1;
}
.btn-block {
    height: 30px; /* Ajusta la altura del botón */
    font-size: 14px; /* Ajusta el tamaño de la fuente del botón */
}
.modal-content {
    width: 300px; /* Ajusta el ancho del modal */
    margin: auto;
}

.separator {
    height: 1px;
    width: 100%;
    background: white;
    margin: 0 auto;
    margin-bottom: 10px;
}